@model Proyecto_Musica_GHBLL.Dtos.Cancion.CancionDto

<div class="modal fade" id="modalEditarCancion" tabindex="-1" aria-labelledby="modalEditarCancionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Canción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCancion" asp-action="EditarCancion">
                    <input type="hidden" asp-for="Cancion_ID" id="CancionId" />
                    <div class="mb-3">
                        <label for="Titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="Titulo" name="Titulo" required />
                    </div>
                    <div class="mb-3">
                        <label for="Duracion" class="form-label">Duración</label>
                        <input type="number" class="form-control" id="Duracion" name="Duracion" required />
                    </div>
                    <div class="mb-3">
                        <label for="Fecha_publicacion" class="form-label">Fecha Publicación</label>
                        <input type="text" class="form-control" id="Fecha_publicacion" name="Fecha_publicacion" />
                    </div>
                    <div class="mb-3">
                        <label for="URL_cancion" class="form-label">URL Canción</label>
                        <input type="text" class="form-control" id="URL_cancion" name="URL_cancion" required />
                    </div>

                    <div class="mb-3">
                        <label for="Album_ID" class="form-label">Álbum</label>
                        <input type="number" class="form-control" id="Album_ID" name="Album_ID" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarCancion">Editar Canción</button>
            </div>
        </div>
    </div>
</div>