@model Proyecto_Musica_GHBLL.Dtos.Playlist.PlaylistDto

<div class="modal fade" id="modalEditarPlaylist" tabindex="-1" aria-labelledby="modalEditarPlaylistLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarPlaylist" asp-action="EditarPlaylist">
                    <input type="hidden" asp-for="Playlist_ID" id="PlaylistId" />
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" required />
                    </div>
                    <div class="mb-3">
                        <label for="Fecha_creacion" class="form-label">Fecha de Creación</label>
                        <input type="text" class="form-control" id="Fecha_creacion" name="Fecha_creacion" required />
                    </div>
                    <div class="mb-3">
                        <label for="Usuario_ID" class="form-label">Usuario</label>
                        <input type="number" class="form-control" id="Usuario_ID" name="Usuario_ID" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarPlaylist">Editar Playlist</button>
            </div>
        </div>
    </div>
</div>